* {
    margin: 0;
    padding: 0;
}


article {
    color :blueviolet;
}
.Datospersonales {
    color:rgb(18, 47, 56);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:120%;
    width: 20%;
    
    height: 100px;
    padding: 50px;
    margin-top: 2px;
    float: left;
}

.Conocimientos {
    margin-top: 2px;
    
    padding: 50px;
    width: 55%;
    height: 100;
    float: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: coral;
    font-size: larger;
    
}

/*.boton {
    width: 50px; height: 50px;
    color:rgb(127, 168, 255);
    border-radius: .5em;
    cursor :pointer;
    background-color: rgba(221, 255, 127, 0.829);
   
}*/

.redes_sociales {
    width: 40%;
    height: 100px;
    margin: 2px;
    font-variant-alternates: normal;
    float: left;
    }

/*.boton {
    float: left;
    margin: 8px;
    border-color: blue;

}*/


/*.boton:hover {
    background-color: antiquewhite;
}*/

.container-login {
float: right;
margin: 1%;
padding-bottom: 2%;
}

.dropdown {
    float: right;
    margin: 1%
    
}



.logoargentina img{
    width: 70px; height: 70px; 
    padding: 0; 
    border: 1px;
    display: inline;
    margin: 2px, 2px;
}

.logoargentina {
    width: 20%;
    height: 50px;
    float:left;
    margin: 3px;
}

.imagenprototipo {
    margin: 5px;
    width: 100%;
    height: 400px; 
    clear: both;   
}

.imagenprototipo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.fotoperfil img {
   
    border: 2px;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
    position:absolute;
    left: 50px; top: 450px; z-index: 1;
}

.fotoperfil {
    margin: 5px;
    width: 100%;
    border-color: black;
}
 
.card {
    margin-top: 10%;
}
.card-text {
    float:right;

}   

.experiencia {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aquamarine;
    margin-top: 2px;
    padding: 50px;
    width: 100%;
    height: 100px;
    float: left; 
    border: 2px solid red;  
}
.estudios {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(234, 127, 255);
    margin-top: 2px;
    padding: 50px;
    width: 100%;
    height: 100px;
    float: left; 
    border: 2px solid red;  
}
.habilidades {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(234, 127, 255);
    margin-top: 2px;
    padding: 50px;
    width: 100%;
    height: 100px;
    float: left; 
    border: 2px solid red;  

}