<p>edicion works!</p>
<app-nueva-experiencia></app-nueva-experiencia>





  <!-- <span class="input-group-text" id="inputGroup-sizing-sm"> Empresa</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">DEscripcion de tarea realizada</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
  <button class="btn btn-outline-secondary" type="button">Nueva data</button>
  <button class="btn btn-outline-secondary" type="button">Editar</button>
  <button class="btn btn-outline-secondary" type="button">Borrar</button>
</div>
<div class="container">
  <label>
    Email:
    <input type="text" [formControl]="email">
  </label>
</div> --> -->
