<div class="card" style="width: 100%;">
  <div class="card-body">
    <h2 class="card-title">Estudios</h2>
    <h6 class="card-subtitle mb-2 text-muted"></h6>

   <div class="card-text" >
    <p >Secundario: Tecnico en Administración de Empresas  </p>
    <p> Informática: IPIC</p>
    <p>Argentina Programa: Se Programar</p>
  </div>
  </div>

    <marquee BEHAVIOR=ALTERNATE Fontcolor="green" [bgColor]="">00011101000110011100011110101011100011001110101100100011100011100010010101000011010110010101100001110101101011010101010</marquee>
</div>
