
<form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
  <h2> Iniciar Sesión</h2>
  <div  class="mb-3">
    <label for="exampleInputEmail1" class="form-label">nombreUsuario</label>
    <input type="text" class="form-control" formControlName="nombreUsuario"
    id="exampleInputEmail1" aria-describedby="emailHelp">

  <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">
    <p *ngIf="NombreUsuario?.hasError('required')" class="text-danger">
     El email es requerido</p>

    <p *ngIf="NombreUsuario?.hasError('email')" class="text-danger">
      El formato email debe ser válido</p>
   </div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password"
    [ngClass]="{'is-invalid':Password?.errors && Password?.touched,
    'is-valid':Password?.errors && Password?.touched}"
    id="exampleInputPassword1">

    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="text-danger">
        El password es requerido</p>

      <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
        La contraseña debe ser de 8 o mas caracteres
      </p>

    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>








<!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <div class="container-login">

   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Login</button>
  </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">

       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">
       <div>
         <div [formGroup]="form" class="mb-3">
           <label for="recipient-name" class="col-form-label">Usuario:</label>
           <input formControlName="email" type="text" class="form-control" id="recipient-name">
         </div>
         <div class="mb-3">
           <label for="recipient-name" class="col-form-label">Contraseña:</label>
           <input type="password" class="form-control" id="recipient-name">
         </div>
         <div class="mb-3">

         <p> <a href="#">¿olvidaste tu contraseña?</a></p>

     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Send message</button>
    </div>
   </div>
 </div>
 </div>
 </div>
 </div>-->
