<div class="row">
  <div class="container">
    <div class="logoargentina" class="col-md-2 col-sm-2 col-xs-2">
      
      
        <a  href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img  src="../assets/imagenes/APLogo-20-20b.png" ></a>
    </div>

    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" id="redes">
      <!-- Aquí va el botón de Facebook -->
      <a href="https://www.facebook.com/mariaviviana.carrizo" target="_blank"
        ><i class="bi bi-facebook"></i
      ></a>

      <a href="mailto:mvivianacarrizo@gmail.com" target="_blank"
        ><i class="bi bi-envelope"></i
      ></a>

      <!-- Aquí va el botón de Instagram -->
      <a
        i
        class="bi bi-instagram"
        href="https://instagram.com/mvivianacarrizo01?igshid=YmMyMTA2M2Y=" target="_blank"
      ></a>

      <!-- Aquí va el boton de github -->
      <a i class="bi bi-github" href="https://github.com/Marivi01" target="_blank"></a>
    </div>

    <!-- Aquí va el botón de login -->
    <div class="col-md-4 col-sm-4 col-xs-4" class="login">
      <button
        type="button"
        class="btn btn-warning"
        routerLink="/iniciar-sesion"
      >
        Login
      </button>
    </div>
  </div>
</div>
