
<div   class="row">
  <div class="container">

 <div class="logoargentina" >

     <img src="../assets/imagenes/logArgProg.png">

  </div>

  <!--aca abre div de redes sociales-->
  <div class="redes_sociales" class="col-lg-5" >

    <div class="dropdown">

     <button class="boton_redes" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
       Mis redes sociales
     </button>
     <button  class="btn btn-primary" style="margin: 5px"  type="button" routerLink="/iniciar-sesion" >Login</button>
     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
       <li><a class="dropdown-item" href="https://www.facebook.com/mariaviviana.carrizo" target="_blank">Facebook</a></li>
       <li><a class="dropdown-item" href="#">Instagram</a></li>
       <li><a class="dropdown-item" href="#">twiter</a></li>
     </ul>
    </div>

 <!--boton de login-->

 <!-- <div class="container-login" class="row" class="col-lg-4">

</div>
 -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">

         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
      </div>
      </div>
    </div>
    </div>
    <!--cierra el div de redes sociales-->


  </div>
  </div>
 </div>

 <!-- "col-xs-4 col-sm-4 col-md-4 col-lg-4" -->















    <!--  <div>
       <div class="mb-3">
         <label for="recipient-name" class="col-form-label">Usuario:</label>
         <input type="text" class="form-control" id="recipient-name">
       </div>
       <div class="mb-3">
         <label for="recipient-name" class="col-form-label">Contraseña:</label>
         <input type="password" class="form-control" id="recipient-name">
       </div>
       <div class="mb-3">

       <p> <a href="#">¿olvidaste tu contraseña?</a></p>

    </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     <button type="button" class="btn btn-primary">Send message</button>
   </div>

<div>
 -->







