
<div class="row" >
  <h2>Habilidades duras y blandas</h2>
  <div >
    <div *ngFor="let Habilidades of habil">
    </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
[percent]="90"
[radius]="70"
[subtitle]="'css'"
[subtitleFontSize]="'30px'"
[subtitleColor]="'lime'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'magenta'"
[innerStrokeColor]="'Pink'"
[animation]="true"
[animationDuration]="200"
></circle-progress>
</div>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="70"
  [radius]="70"
  [subtitle]="'CSS'"
[subtitleFontSize]="'30px'"
[subtitleColor]="'lime'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'magenta'"
  [innerStrokeColor]="'Pink'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [subtitle]="'JAVASCRIPT'"
[subtitleFontSize]="'23px'"
[subtitleColor]="'lime'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'magenta'"
    [innerStrokeColor]="'Pink'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="75"
      [subtitle]="'Base_de_datos MySQL'"
    [subtitleFontSize]="'30px'"
    [subtitleColor]="'lime'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'magenta'"
      [innerStrokeColor]="'Pink'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [subtitle]="'Java'"
      [subtitleFontSize]="'30px'"
      [subtitleColor]="'lime'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'Pink'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="85"
          [radius]="70"
          [subtitle]="'CSS'"
        [subtitleFontSize]="'30px'"
        [subtitleColor]="'lime'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'magenta'"
          [innerStrokeColor]="'Pink'"
          [animation]="true"
          [animationDuration]="300"
          ></circle-progress>
          </div>


