
<div class="row">
  <h2>Hards and soft skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
[percent]="85"
[radius]="100"
[subtitle]="'HTML'"
[subtitleFontSize]="'30px'"
[subtitleColor]="'lime'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'magenta'"
[innerStrokeColor]="'Pink'"
[animation]="true"
[animationDuration]="200"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [subtitle]="'CSS'"
[subtitleFontSize]="'30px'"
[subtitleColor]="'lime'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'magenta'"
  [innerStrokeColor]="'Pink'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [subtitle]="'JAVASCRIPT'"
[subtitleFontSize]="'23px'"
[subtitleColor]="'lime'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'magenta'"
    [innerStrokeColor]="'Pink'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [subtitle]="'CSS'"
    [subtitleFontSize]="'30px'"
    [subtitleColor]="'lime'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'magenta'"
      [innerStrokeColor]="'Pink'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [subtitle]="'CSS'"
      [subtitleFontSize]="'30px'"
      [subtitleColor]="'lime'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'Pink'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="85"
          [radius]="100"
          [subtitle]="'CSS'"
        [subtitleFontSize]="'30px'"
        [subtitleColor]="'lime'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'magenta'"
          [innerStrokeColor]="'Pink'"
          [animation]="true"
          [animationDuration]="300"
          ></circle-progress>
          </div>

</div>

<!--"backgroundColor": "#F1F1F1",
"backgroundPadding": -18,
"radius": 60,
"toFixed": 2,
"outerStrokeWidth": 10,
"outerStrokeColor": "#FF6347",
"innerStrokeColor": "#32CD32",
"innerStrokeWidth": 1,
"startFromZero": false})-->
