<div class="estudios">

  <div class="container">
  <div  class="row">
    <div class="col">


  <table class="table caption-top" >

    <caption><h2>Educación</h2></caption>
    <thead class="col-m-3">
      <tr
      class="table table-success table-striped">
        <th>Establecimiento</th>
        <th>Título</th>

      </tr>
    </thead>
    <tbody class="col-m-3">
      <tr *ngFor="let Estudios of est">
        <td><h6>{{Estudios.institucion}}</h6></td>
        <td>{{Estudios.titulo}}</td>
      </tr>
  </table>
  <marquee BEHAVIOR=ALTERNATE Fontcolor="green" [bgColor]="">MVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVCMVC</marquee></div>

  </div>
  </div>
  </div>



  <!-- <div class="card" style="width: 100%;">
    <div class="card-body">
      <h2 class="card-title">Estudios</h2>
      <h6 class="card-subtitle mb-2 text-muted"></h6>

     <div class="card-text" >
      <p >Secundario: Tecnico en Administración de Empresas  </p>
      <p> Informática: IPIC</p>
      <p>Argentina Programa: Se Programar</p>
    </div>
    </div> -->










